<%- include('partials/header.ejs') %>

<style>
    select{
        width: auto;
    }
</style>

<h2>Currency Converter</h2>

<div class="formDisplay">


    <form method="POST">
        <label style="display: inline;" for="curr1">FROM</label>

        <select style="width: auto;" name="curr1" id="curr1" required>
            <%- include('partials/currencies.ejs') %>
        </select>

        <label  style="display: inline;" for="curr2">TO</label>
        <select name="curr2" id="curr2" required>
            <%- include('partials/currencies.ejs') %>
        </select>

        <input type="number" name="amount" id="amount" step="0.01" required>
        
        <input type="submit" class="btn btn-danger my-0 py-0" style="height: 32px;" value="Submit" formaction="/currency">
    </form>
    
    <textarea class="formResponse" name="response" id="response" cols="30" rows="10"><% if (locals.response) {%><%=response%><%} else {%><%}%>
    </textarea>
    
</div>


<%- include('partials/footer.ejs') %>