<%- include('partials/header.ejs') %>

<h2>Dictionary</h2>

<div class="formDisplay">
    <form method="POST">
        <label for="word">Type in your word here!</label>
        <p></p>
        <input type="text" name="word" id="word">
        <input type="submit" value="Submit" formaction="/dictionary">
    </form>






<% if (locals.answer) { %>
        <h2><%= word %></h2>
    <% for( let index = 0; index < answer.length; index++ ) { %>
        <h2><%=answer[index][0]%></h2>
        <ol>
            <% for( let j = 0; j < answer[index][1].length; j++ ) { %>
                <li><%= answer[index][1][j] %></li>
            <% } %>
        </ol>

    <% } %>
<% } %>







</div>

<%- include('partials/footer.ejs') %>